<div class="background">
  <div class="container">
    <h2><span>Flower Gallery</span></h2>
    <h3><span>{{galleryInfo.name}}</span></h3>
    <h4>Image {{currentIndex +1}} / {{images.length}}</h4>
      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-light" (click)="prevImage()" [disabled]="isBackDisabled()">Go Back</button>
        </div>
        <div class="col-md-8">
          <div class="thumbnail">
            <img [src]="images[currentIndex].path" class="img-thumbnail" style="height: auto;width:800px;"[alt]="images[currentIndex].alt">
            <div class="caption">
              <p>{{images[currentIndex].caption}}</p>
            </div>     
            <br>
          </div>
        </div>
        <div class="col-md-2"> 
          <button class="btn btn-light" (click)="nextImage()">Go Forward</button>
        </div>  
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-1" *ngFor="let image of images; let i = index">
              <img [src]="image.path" class="img-thumbnail" [alt]="image.alt" (click)="changeMainImage(i)" [class.active]="currentIndex === i">
            <br>
            <br>
            <br>
            <br>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
 


